$articleTextColor: #969696;
$articleHeaderColor: #545454;
$articleFooterColor: #b4b4b4;

.articles-container {
  padding-left: 50px;
  padding-right: 50px;
  color: $articleTextColor;

  .articles-header {
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid $articleTextColor;
    .title {
      color: $articleHeaderColor;
      font-size: 30px;
    }
  }

  .articles-body {

    .article {
      margin-bottom: 50px;
      max-width: 35%;

      .article-img {
        img {
          width:100%;
        }
      }

      .article-text {
        .title {
          font-size: 18px;
          color: $articleHeaderColor;

          a {
            text-decoration: none;
          }
        }

        .description {
          font-size: 12px;
          color: $articleTextColor;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }

      .article-footer {
        font-size: 10px;
        color: $articleFooterColor;

        .article-author {
          font-weight: bold;
        }
      }
    }
  }
}

.article-container{
  .article-header{
    .category{
      color:$articleTextColor;
      font-size:12px;
    }
  }

  .article{
    .title{
      p{
        font-size: 25px;
        font-weight: bold;
        color: #838383;
      }
    }
    .description{
      p{
        font-size:17px;
      }
    }
    .img{
      img{
        width:70%;
      }
    }
  }

}

