.card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;

  .img1
  {
    img
    {
      border-radius: 50%;
      margin-left: 20px;
      margin-top: 20px;
      float:left;
      width: 180px;
      height: 180px;
    }
  }
  h3
  {
    font-family: "Forte";
  }
  .img2
  {
    img
    {
      width: 80px;
      height: 80px;
      text-align: center;
      border-radius: 10px;
    }
  }
  .container
  {
    p
    {
      margin-right: 490px;
      color: darkblue;
      font-size: 20px;
      font-family: "Arial Black";
    }
  }
  .title
  {
    table, th, tr
    {
      padding-bottom: 15px;
      padding-left: 250px;
    }
    table
    {
      width: 100%
    }
  }
  .icons
  {
    margin-bottom: 30px;
    text-align: center;

    a {
      text-decoration: none;
      font-size: 30px;
      color: dodgerblue;
    }

  }

}