$footerColor: black;

.container {
  .footer {
    background-color: $footerColor;
    height: 200px;
    width: 100%;
  }

  .content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.no-results {
  content:url("../images/no_results.png");
  width: 50%;
  display:inline !important;
}

.profile-img
{
  width:70px;
  height: 70px;
  border-radius: 50%;
}

@import 'partials/articles';
@import 'partials/users';
