.container .footer {
  background-color: black;
  height: 200px;
  width: 100%; }
.container .content {
  padding-top: 20px;
  padding-bottom: 20px; }

.no-results {
  content: url("../images/no_results.png");
  width: 50%;
  display: inline !important; }

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%; }

.articles-container {
  padding-left: 50px;
  padding-right: 50px;
  color: #969696; }
  .articles-container .articles-header {
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #969696; }
    .articles-container .articles-header .title {
      color: #545454;
      font-size: 30px; }
  .articles-container .articles-body .article {
    margin-bottom: 50px;
    max-width: 35%; }
    .articles-container .articles-body .article .article-img img {
      width: 100%; }
    .articles-container .articles-body .article .article-text .title {
      font-size: 18px;
      color: #545454; }
      .articles-container .articles-body .article .article-text .title a {
        text-decoration: none; }
    .articles-container .articles-body .article .article-text .description {
      font-size: 12px;
      color: #969696;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical; }
    .articles-container .articles-body .article .article-footer {
      font-size: 10px;
      color: #b4b4b4; }
      .articles-container .articles-body .article .article-footer .article-author {
        font-weight: bold; }

.article-container .article-header .category {
  color: #969696;
  font-size: 12px; }
.article-container .article .title p {
  font-size: 25px;
  font-weight: bold;
  color: #838383; }
.article-container .article .description p {
  font-size: 17px; }
.article-container .article .img img {
  width: 70%; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: arial; }
  .card .img1 img {
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    width: 180px;
    height: 180px; }
  .card h3 {
    font-family: "Forte"; }
  .card .img2 img {
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 10px; }
  .card .container p {
    margin-right: 490px;
    color: darkblue;
    font-size: 20px;
    font-family: "Arial Black"; }
  .card .title table, .card .title th, .card .title tr {
    padding-bottom: 15px;
    padding-left: 250px; }
  .card .title table {
    width: 100%; }
  .card .icons {
    margin-bottom: 30px;
    text-align: center; }
    .card .icons a {
      text-decoration: none;
      font-size: 30px;
      color: dodgerblue; }

/*# sourceMappingURL=main.css.map */
